<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.design.yang.mapper.AreaTestMapper">
    <resultMap id="areaMap" type="com.design.yang.dto.TestArea">
        <id column="id" property="id"/>
        <result column="name" property="name"></result>
        <collection property="areas" select="getAreaByid" column="id">
        </collection>
    </resultMap>


    <select id="getAreaByid" parameterType="String" resultMap="areaMap">
        select id,name from t_areainfo where parentId=#{id}
    </select>

    <select id="getAllArea" parameterType="String" resultMap="areaMap">
        select id,name from t_areainfo where parentId=0
    </select>
</mapper>